* {
    box-sizing: border-box;
}
:root {
    --scroll-y: 0px;
}

/*HERO START*/
#HOME_HERO_WRAPPER {
    height: calc(100vh - 100px);
    overflow: hidden;
}
@media (max-width: 1200px) {
    #HOME_HERO_WRAPPER {
        height: calc(100vh - 150px);
    }
}
#HOME_HERO {
    height: 120%; /* gives room to move */
    background-image: url('../images/LinpeiDiaryHeroImg.JPG');
    background-size: cover;
    background-position: right;
    transform: translateY(calc(var(--scroll-y) * -0.2));
}
body.header-fixed header, body.header-fixed-mobile header {
    position: fixed;
    top: 0;
    left: 0;
}
body.header-fixed .wrapper, body.header-fixed-mobile .wrapper {
    margin-top: 100px;
}
/*HERO END*/

/*HORIZONTAL SLIDER START*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200;400;700&display=swap');
.wrapper {
    overflow-x: hidden;
    position: relative;
}
.wrapperTitle {
    position: absolute;
    top: 150px;
    margin-left: 1.8%;
}
.container {
    display: flex;
    width: 200vw;
    height: 100vh;

    .col {
        display: flex;
        gap: 3em;

        p {
            font-size: .8rem;
        }
    }

    .sec1, .sec2, .sec3, .sec4, .sec5 {
        display: flex;
        width: 30vw;
        padding-left: 1vw;
        justify-content: center;
        flex-direction: column;

        a {
            margin-top: 100px;
            width: 100%;
            aspect-ratio: 1/1;
            background: black;
            border-radius: 2em;

            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-weight: bold;
            text-decoration: none;
            font-size: 2vw;
            transition: 0.3s;
            text-transform: uppercase;
        }

        a:hover {
            border-radius: 100px;
        }

    }
}
.card, .sec2, .sec3, .sec4, .sec5 {
    height: 80vh;
}
.sec1 {
    margin-left: 20vw;
}
.sec2, .sec3, .sec4, .sec5 {margin-top: 75px;}

/*MOBILE VIEW*/
.categories {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
}
.categoriesCard {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    justify-content: space-evenly !important;
    padding: 0 10px;
}
.categoriesMobileCard a {
    aspect-ratio: 1/1;
    background: black;
    border-radius: 2em;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
    text-transform: uppercase;
}
.categoriesMobileCard a:hover {
    border-radius: 100px;
}
@media (max-width: 800px) {.container {display: none;} .categories {display: flex;}}
@media (min-width: 800px) {.container {display: flex;} .categories {display: none;}}
/*HORIZONTAL SLIDER END*/

/*VIDEO SCROLL START*/
.containerCover {
    position: relative;
    width: 100%;
    height: 100%;
}
.video {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -55%);
    width: 70vw;
    height: 60vh;
}
@media (max-width: 1000px) {.video {width: 90vw; height: 40vh;}}
.video video  {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.card.scroll {
    position: relative;
}

@media (max-width: 800px) {.containerCover {padding-top: 50px;}}
/*VIDEO SCROLL END*/

/*ABOUT SECTION START*/
.aboutMe {
    margin-top: 200px;
    width: 100%;
    height: 50vh;
    display: flex;
    overflow: hidden;
}

.aboutMeLeft, .aboutMeRight {
    position: absolute;
    width: 50%;
    height: 50vh;
}

.aboutMeLeft {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 1;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.aboutMeLeft h1 {font-size: 4rem;}
.aboutMeLeft p {text-align: center; padding: 0 50px;}
.aboutMeRight {
    width: 100%;
    height: 100%;
    padding-left: 52%;
    z-index: 0;
    overflow: scroll;

    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
}

.aboutMeRight p {
    margin-top: 15px;
    font-size: 12px;
}

.aboutMeRightSkills {
    position: relative;
    display: flex;
    width: auto;
    gap: 10px;
    bottom: 0;
}

.aboutMeRightSkills p {
    background: #f1f1f1;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 10px;
}

.aboutMeContentBox {
    margin-bottom: 20px;
    border-radius: 10px;
    width: 95%;
    aspect-ratio: 1/0.9;
    background: white;
    padding: 15px;
    box-shadow: 2px 2px 10px rgb(132, 132, 156);
}

/*ABOUT SECTION END*/

/*BEHIND THE SCENE SECTION START*/
.behind-the-scene {
    width: 100%;
    margin-top: 100px;
    padding: 40px 5%;
    color: black;
}
.section-header {
    text-align: center;
    margin-bottom: 40px;
}
.section-header h3 {
    color: rgb(93, 97, 193);
    font-weight: 600;
    margin-bottom: -7px;
    font-size: clamp(10px, 5vw, 1.2rem);
}
.section-header h1 {
    text-transform: uppercase;
    font-size: clamp(20px, 5vw, 2.5rem);
    color: black;
}
.scene-grid {
    margin-top: -1rem;
    padding: 0 3%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 15px;
}
.scene-card {
    background: #f9f7f7;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgb(132, 132, 156);
}
.scene-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}
.scene-content {
    padding: 20px 25px;
    text-align: left;
}
.scene-content h2 {
    font-size: clamp(13px, 2vw, 20px);
    margin-bottom: 5px;
    color: black;
}
.icon {display: flex; align-items: center;}
.scene-content .icon img {
    width: 10px;
    height: 100%;
    margin-right: 5px;
}
.scene-content p {
    font-size: clamp(10px, 2vw, 13px);
    color: rgb(93, 97, 193);
    line-height: 1.5;
    margin-bottom: 12px;
}
.photo-meta {
    display: flex;
    gap: 12px;
    font-weight: 600;
    font-size: clamp(10px, 2vw, 12px);
    color: black;
    margin-bottom: 15px;
}

.selectBlogs {
    display: flex;
    margin-top: 20px;
    width: auto;
    justify-content: center;
    gap: 10px;
}
.selectBlogs button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
    font-size: 12px;
    background: #dcdcdc;
}
#daily {
    background: black;
    color: white;
}
.blogsContentBox {
    margin-top: 3rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 15px;
}
#travelBlogs, #otherBlogs {display: none;}

/* Responsive adjustments */
@media (max-width: 800px) {
    .behind-the-scene {margin-top: -30px;}
    .scene-content {padding: 10px 15px;}
    .scene-grid {gap: 15px; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));}
    .scene-card img {
        height: 130px;
    }
}
@media (max-width: 570px) {
    .scene-grid {padding: 0 5%; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));}
    .scene-content {padding: 10px;}
    .scene-card img {
        height: 100px;
    }
}
@media (max-width: 450px) {.scene-grid {grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));}}

/*BEHIND THE SCENE END*/

/*SOCIAL MEDIA START*/
.socialMediaLinks {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    padding: 5%;
    margin-bottom: 100px;
}
.socialMediaBoxes {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.socialMediaLinkBox {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.mediaLink {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    aspect-ratio: 1/1;
    transition: 0.3s ease;
}
.mediaLink:hover {
    transform: scale(1.1);
}
#Instagram {background-size: 145%;}
#TikTok {background-size: 113%;}
#bilibili {background-size: 126%;}
#redNote {background-size: 164%;}
/*SOCIAL MEDIA END*/

.futurePlanning {
    height: 60vh;
}

.futureGoal {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 40px;
}

.futureGoalLeft, .futureGoalRight {
    width: 40%;
    padding: 50px;
    border: 3px solid black;
    list-style: revert-layer;
}