.pagination {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}
.pagination button {
    width: 40px;
    aspect-ratio: 1/1;
    margin: 0 5px;
    border: none;
    background: #eee;
    cursor: pointer;
    border-radius: 100%;
    transition: 0.3s;
}
.pagination button.active, .pagination button:hover {
    background: var(--header-footer);
    color: #fff;
    font-weight: bold;
}